<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Learning Log{% endblock title %}</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"> {% endcomment %}
</head>
<body>
    <header>
        <h1><a href="{% url 'learning_logs:index' %}">Learning Log</a></h1>
        <nav>
            <a href="{% url 'learning_logs:index' %}">Home</a>
            <a href="{% url 'learning_logs:topics' %}">Topics</a>
        </nav>
    </header>
    <main>
        {% block content %} {% endblock content %}
    </main>
</body>
</html>
