{% extends 'learning_logs/base.html' %}
{% load bootstrap5 %}

{% block title %}Edit Entry{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="mb-4">Edit Entry</h1>
        <h2 class="mb-3">
            <a href="{% url 'learning_logs:topic' topic.id %}" class="text-decoration-none">{{ topic }}</a>
        </h2>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ entry.date_added|date:'M d, Y H:i' }}</h5>
                <p class="card-text">{{ entry.text|linebreaks }}</p>
            </div>
        </div>
        <form action="{% url 'learning_logs:edit_entry' entry.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="d-flex justify-content-end">
                {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
            </div>
        </form>
    </div>
</div>
{% endblock content %}
