{% extends 'learning_logs/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Learning Log</h1>
    <p class="lead">Learning Log helps you keep track of your learning on any topic you're learning about.</p>
    <hr class="my-4">
    <p>Start exploring your topics or create a new one.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'learning_logs:topics' %}" role="button">View all topics</a>
</div>
{% endblock content %}
